# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build/zip
*.zip
dist/
build/

# Outros projetos (não relacionados)
deskflow-screen-streamer/
turgo/
